$headerHeight: 60px;
.navbar{
    width: 100%;
    max-width: 215px;
    height: 100%;
    background: white;
    &__item{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-left: 16px;
        height: 52px;
        overflow: hidden;
        transition: height ease-in-out 1s;
        border-bottom: 0.5px solid rgba(93, 110, 151, 0.4);
        &--open{
            height: 155px;
            overflow: hidden;
            transition: height ease-in-out 1s;
        }
    }
    &__item-title{
        font-size: 16px;
        font-weight: 300;
        margin-left: 10%;
        margin-top: 18px;
        color: #5D6D97;
    }
    &__item-inner{
        width: 100%;
        height: 200px;
        animation: slidein 1.1s;
    
    }
}
.title{
    margin-top: 23px;
    overflow: hidden;
    &__dot{
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-right: 13px;
    }
    &__text{
        font-weight: 300;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes slidein {
    from {
     transform: translateY(-10%);
     opacity: 0;
    }
  
    to {
        transform: translateY(0%);
        opacity: 1;
    }
  }
  @media(max-width:800px){
      .navbar{
          width: 60px;
      }
  }