.project{
    justify-content: space-between;
    width: 100%;
    padding: 40px 35px 20px 10px; //media
    &-wrapper{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 400px;
        margin: 0 auto;
    }
    &__title{
        font-weight: normal;
        font-size: 20px;
        color: #3C5AA8;

    }
    &__table-input{
        color: #5D6D97;
             &::-webkit-calendar-picker-indicator {
            display: none;
            }
    }   
    &__table{
        margin: 17px 0px;
        width: 90%;
        text-align: center;
        overflow-x: auto;
        border: 0;
       // box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
        &-inner{
            border-spacing: 0px; 
        }
        &-cross{
            cursor: pointer;
            margin: 13px 0px 0px 1px;
            &:disabled{
              visibility: hidden;
            }
        }
       th{
       background: white;
       font-weight: normal;
       font-size: 14px;
       line-height: 16px;
       color: #5D6D97;
       &:first-child{
        border-top-left-radius: 5px;
       }
       &:last-child{
         border-top-right-radius: 5px;
        }
    }
       tbody{
    
       }
       tr{
           width: 20px;
         
           &:last-child{
               td{
                   &:first-child{
                       border-bottom-left-radius: 5px;
                   }
                   &:nth-last-child(2){
                    border-bottom-right-radius: 5px;
                }
               }
           }
       }
       td{
        width: 2011px;
        background: white;
        
       }
       input{
           background: white;
       }
    }
    &__contols{
       display: flex;
       justify-content: center;
       margin-top: 80px;
       padding-right: 50px;
       img{
          margin: 0 !important;
          height: 90%;
       }
    }
    &__controls-btn{
        font-size: 14px;
        line-height: 16px;
        background: inherit;
        height: 38px;
        display: flex;
        align-items: center;
        color: #5D6E97;
        border-radius: 10px;
        margin-bottom: 6px;
        transition: all ease-in-out .5s;
        img{
            margin-right: 10px;
        }
        &:first-child{
            margin-right: 10px;
        }
        &-general{
            width: 189px;
            display: flex;
            justify-content: center;
            background: #4A9DFF;
            color: white;
            &:first-child{
                background: #4A9DFF;
            }
            &:disabled{
                background: rgba(74, 157, 255, 0.27);
                cursor: default;
            }
        }
    }
}
.result{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
    position: relative;
    &__title{
        font-size: 20px;
        margin: 0px 0px 30px 20px;
        color: #5D6E97;
    }
}
.error{
    color: rgba(255, 81, 81, 0.53)
}
@media(max-width:1080px){
    .project{
       // box-sizing: border-box;
        padding: 0;
        padding-left: 25px;
        &-wrapper{
            width: 90%;
            padding-left: 25px;
        }
        &__controls-btn{
       
        }
        
    }
}
@media(max-width:760px){
    .project{
        width: 90%;
        padding-left: 3px;
        form{
            padding: 0;
        }
        &-wrapper{
            width: 80%;
            padding-left: 0px;
        }
       
        &__title{
            display: none;
        }
        &__controls{
            padding-right: 0px;
        }
        
    }
}
