@mixin flex {
 display: flex;
 align-items: center;   
}
.header{
   position: sticky;
   top: 0;
   z-index: 9999;
   height: 58px;
   @include flex;
   justify-content: space-between;
   background: #F9F9F9;
   padding-right: 41px; //to be in media 
   box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
   &__wrap{
    display: flex;
    align-items: center;
   }
   &__name{
       width: 100%;
       max-width: 142px;
       font-weight: 700;
       font-size: 20px;
       cursor: pointer;
       margin: 18px 50px 17px 23px; // to be in media when resize
       color: #5D6E97;
   }
   &__search{
    display: flex;
    width: 100%;
    max-width: 320px;
    background: white;
    height: 28px;
    border-radius: 20px;
   }
   &__search-img{
       padding: 5px 8px 5px 16px;
   }
   &__search-input{
    display: inline;
    width: 100%;
}
   &__exit-btn{
    cursor: pointer;
    margin-left: 32px;
   }
}